@font-face {
    font-family: "Defused Extended Bold";
    src:
        url("./assets/fuentes/defused.eot") format("eot"),
        url("./assets/fuentes/defused.woff") format("woff"),
        url("./assets/fuentes/defused.ttf") format("truetype"),
        url("./assets/fuentes/defused.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

:root {
    --charcoal: #264653ff;
    --persian-green: #2a9d8fff;
    --orange-yellow-crayola: #e9c46aff;
    --sandy-brown: #f4a261ff;
    --burnt-sienna: #e76f51ff;
}

* {
    font-family: "Defused Extended Bold", sans-serif;
}

body {
    background-color: var(--charcoal);
    padding: 1%;
    margin: 0%;
}

header {
    padding: 25%;
    background-size: 78px;
    display: flex;
    align-content: space-between;
    text-align: center;
    margin: 4%;
    padding: 0%;
    font-size: 1em;
}

h1 {
    color: var(--burnt-sienna);
}

header a {
    text-decoration: none;
    font-size: 0.9;
    color: var(--cameo-pink)
}

.menu {
    position: relative;
    display: inline-block;
    margin-left: auto;
    color: var(--burnt-sienna);
}

.dropdown {
    display: none;
    position: absolute;
    background: none;
    padding: 12px 16px;
    z-index: 5;
    top: 35px;
    right: 25px;
    background-color: var(--persian-green);
    color: var(--orange-yellow-crayola);
}

.menu:hover .dropdown {
    display: block;
}

.dropdown li {
    list-style: none;
}

section {
    font-size: 1.1em;
    color: var(--persian-green);
    filter: contrast(50);
}

main {
    display: flex;
    flex-direction: column;
    width: 85%;
    text-align: center;
    margin: auto;
}

.product {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 7% 0;
    border: 8px solid var(--sandy-brown);
    color: var(--persian-green);
}

main img {
    height: 180px;
}

.imgcontainer {
    position: relative;
    background-color: var(--burnt-sienna);
}

.gato,
.kimono,
.farol,
.platos {
    margin: auto;
    padding: 1%;
    height: auto;
    width: 95%;
}

.imgcontainer .corazon {
    position: absolute;
    top: 3%;
    right: 5%;
}

h2.info{
    color: var(--persian-green);
    filter: contrast(50);
}

.product button {
    margin: 4% 0;
    width: 85%;
    background: var(--orange-yellow-crayola);
    cursor: pointer;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 800;
}

h4.info {
    color: var(--charcoal);
}

h3.precio {
    filter: contrast(50);
}

footer {
    text-align: center;
    text-decoration: none;
    color: var(--sandy-brown)
}

.ig {
    color: var(--persian-green);
    filter: contrast(50);
}

@media (min-width: 768px) {
    h1 {
        font-size: 3em;
        margin: 0%;
    }
     .fas{
        font-size: 25px;
        padding: 80%;
    } 
    section {
        font-size: 1.5em;
    }
    .gato,
    .kimono,
    .farol,
    .platos {
        margin: auto;
        padding: 0%;
        height: 400px;
        width: 625px;
    }
    .imgcontainer .corazon{
        top: 5%;
        right: 4%;
        margin: -3%
    }

    .info {
        font-size: 1.5em;
    }

    .product button {
        width: 85%;
    }

    .precio {
        font-size: 1.5em;
    }
    footer{
        font-size: 1.5em;
    }
}
@media (min-width: 1024px){
    header{
        font-size: 3em;
    }
    .fas{
        font-size: 40px;
        padding: 30%;
    } 
    section{
        font-size: 3em;
    }
    .imgcontainer{
        padding: 10%;
    }
    .gato, .kimono, .farol, .platos {
        margin: auto;
        padding: 0%;
        height: 340px;
        width: 670px;}
        .imgcontainer .corazon{
            top: 15%;
            right: 14%;
            margin: -4%;
        }

    .info{
        font-size: 2em;
    }
    .precio{
        font-size: 2em;
    }
    .product button{
        width: 95%;
        margin: -5%;
    }
    footer{
        font-size: 2em;
    }
}
@media (min-width: 1440px){
    .fas {
        font-size: 60px;
    }
    section {
        font-size: 5em;
    }
    .imgcontainer {
        padding: 11%;
    }
    .gato, .kimono, .farol, .platos {
        margin: -2%;
        padding: 2%;
        height: 500px;
        width: 924px;}
        .imgcontainer .corazon {
            top: 12%;
            right: 14%;
            margin: -3%;
            font-size: 40px;
        }
        .info {
            font-size: 3em;
        }
        .precio {
            font-size: 4em;
        }
        .product button {
            width: 100%;
            margin: 0%;
        }
        footer{
            font-size: 3em;
        }
}